<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%X{}]- %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
        <queueSize>500</queueSize>
    </appender>
    <root level="info">
        <springProfile name="local">
            <appender-ref ref="ASYNC"/>
        </springProfile>
    </root>
    <logger name="org.example.userservice.controller" level="WARN" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
    <logger name="org.example.userservice.service" level="INFO" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
    <logger name="org.example.userservice.repository" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
</configuration>

